*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
/* comandi sempre verdi */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.container{
  width: 60%;
  margin: auto;
}
.clearfix::after{
  content: "";
  display:table;
  clear: both;
}
.btm{
  border-radius: 5px;
  color: white;
  background-color: #fe775a;
}
.btm:hover{
  background-color: #ffbcac;
}
.fa-angle-down{
  font-size: 15px;
  vertical-align: middle;
  padding: 0 10px;
}
/* head-bar */
.head-bar{
  background-color:#f5f8fa;
  border-bottom: 2px solid grey;
  padding:30px 0;
}
.setting{
  float: left;
  width: 50%;
}
.languages-contact, .login-bar-list{
  list-style: none;
}
.languages-contact li, .login-bar-list li{
  display: inline;
  padding: 10px 20px;
}
.languages{
  margin-right: 10px;
  border-right: 2px solid lightgrey
}
.login-bar{
  float: left;
  width: 50%;
  text-align: right;
  font-size: 14px;
}
.login-bar-list li:first-child{
  color: #02a4bd;
  font-size: 18px;
}
#btm-login{
  border-radius: 5px;
  background-color: white;
  color: #fe775a;
  border: 1px solid #fe775a;
  margin: 0 10px;
}

/* //head-bar */

/* Barra menu */
.sez-menu{
  padding: 25px 0;
}
.logo-menu{
  float:left;
  width: 20%;
  position: relative;
  left:20px;
}
.barra-menu{
  width: 80%;
  float: left;
  text-align: right;
  padding-top: 10px;
}
.menu-list li{
  list-style: none;
  display: inline-block;
}
/* //Barra menu */

/* free tools */
.free-tools{
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  height: 600px;
  background-position: bottom right;
  background-color: #fff3ee;
  position: relative;
}
.dscr-free-tools{
  text-align: left;
  list-style: none;
  padding: 40px 623px 0 10px;;
}
.dscr-free-tools h1{
  font-size: 40px;
}
.dscr-free-tools li{
  padding: 20px 0;
}
.big{
  width: 180px;
  height: 60px;
  text-align: center;
  padding: 20px;
}
.grenn-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
  height:90px;
  background-color: #afebe4;
  border: 3px solid #33475b;
}
/* free tools */
