*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
/* comandi sempre verdi */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.container{
  width: 60%;
  margin: auto;
}
h3{
  text-transform: uppercase;
}
.clearfix::after{
  content: "";
  display:table;
  clear: both;
}
.btm{
  border-radius: 5px;
  color: white;
  background-color: #fe775a;
}
.btm:hover{
  background-color: #ffbcac;
}
.fa-angle-down{
  font-size: 15px;
  vertical-align: middle;
  padding: 0 10px;
}
/* head-bar */
.head-bar{
  background-color:#f5f8fa;
  border-bottom: 2px solid grey;
  padding:30px 0;
}
.setting{
  float: left;
  width: 50%;
}
.languages-contact, .login-bar-list{
  list-style: none;
}
.languages-contact li, .login-bar-list li{
  display: inline;
  padding: 10px 20px;
}
.languages{
  margin-right: 10px;
  border-right: 2px solid lightgrey
}
.login-bar{
  float: left;
  width: 50%;
  text-align: right;
  font-size: 14px;
}
.login-bar-list li:first-child{
  color: #02a4bd;
  font-size: 18px;
}
#btm-login{
  border-radius: 5px;
  background-color: white;
  color: #fe775a;
  border: 1px solid #fe775a;
  margin: 0 10px;
}

/* //head-bar */

/* Barra menu */
.sez-menu{
  padding: 25px 0;
}
.logo-menu{
  float:left;
  width: 20%;
  position: relative;
  left:20px;
}
.barra-menu{
  width: 80%;
  float: left;
  text-align: right;
  padding-top: 10px;
}
.menu-list li{
  list-style: none;
  display: inline-block;
}
/* //Barra menu */

/* free tools */
.free-tools{
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  height: 600px;
  background-position: bottom right;
  background-color: #fff3ee;
  position: relative;
}
.dscr-free-tools{
  text-align: left;
  list-style: none;
  padding: 40px 623px 0 10px;;
}
.dscr-free-tools h1{
  font-size: 40px;
}
.dscr-free-tools li{
  padding: 20px 0;
}
.big{
  width: 180px;
  height: 60px;
  text-align: center;
  padding: 20px;
}
.grenn-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
  height:90px;
  background-color: #afebe4;
  border: 3px solid #33475b;
}
/* free tools */

/* powerfull-alone */
.powerfull-alone{
  background-color:#f5f8fa;
  width: 100%;
  height:1480px;
}
.title{
  text-align: center;
  padding: 60px 0;

}
#cubo{
  width: 300px;
  height: 220px;
}
.title h2{
  font-size: 30px;
  padding-bottom: 30px;
}
.box{
  border: 2px solid lightgrey;
  border-radius: 5px;
  background-color: white;
}
/* box di testa */
.crm{
  height: 350px;
  padding: 50px 100px;
}
.mini-img{
  height: 100px;
  background-repeat: no-repeat;
}
.crm-in-sx{
  float: left;
  width: 30%;
}
.crm-in-dx{
  float: left;
  width: 70%;
  height: 100px;
}
.crm-list-sx{
  list-style: none;
  text-align: center;
}
.btm-learn{
  padding: 20px 40px;

}
.crm-list-dx li{
  list-style: none;
  padding: 25px 0;
}
.info-features:before {
  content: '';
  display: block;
  float: right;
  width: 65%;
  height: 2px;
  margin-top: 9px;
  background-color: #899397;
}
.crm-bottom-list li{
  list-style: none;
  display: inline;
  padding: 0px 10px;
}
.fa-check-circle{
  color: #fe775a;
}
/*//box di testa */
.trio-hub{
  width: 100%;
  margin: 39px 0;
  margin-bottom: 39px;
}
.hub-box{
  float: left;
  width: 31%;
  height: 580px;
  padding: 50px;
  line-height: 1.8;
  text-align: center;
}
.hub-list{
  text-align: left;
  list-style: none;
  line-height: 1,2;


}
.sales-hub{
  margin: 0 39px;
}
/* //powerfull-alone */
/* tabella dati */
.green-part{
  width: 100%;
  height: 900px;
  background-color: #00b1b0;
  color: white;
}
.intestazione{
  text-align: center;
  font-size: 20px;
  padding: 50px 100px;
}
.intestazione >h2{
  line-height: 1.8;
  font-size: 45px;
}
.tabella-dati{
  margin-top: 50px;
}
.tabella-dati-oggetto{
  float: left;
  text-align: center;
  padding-top: 40px;
  width: 24%;
  height: 220px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff
}
.tabella-dati-oggetto:nth-child(n+5){
  border-bottom: 0;
}
.tabella-dati-oggetto:last-child, .tabella-dati-oggetto:nth-child(4){
  border-right: 0;
}
.img-tabella{
  width: 100px;
  height: 40px;
}
.n-utenti{
  font-size: 40px;
}
/* tabella dati */
/* Partners */
.partners{
  width: 100%;
  height: 1000px;

}
.dati-partners{
  height: 200px;
  padding: 80px;
}
.dati-mondo{
  float: left;
  width: 25%;
  text-align: left;

}
.partners-logo{
  float: right;
  width: 50%;
}
.dati-mondo> h1{
  font-size: 45px;
}
.img-partner{
  width: 120px;
  padding: 10px;
}












/* //Partners */
